<html>
<head>
  <meta http-equiv="refresh" content="5" >
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body style="background: url('<%= @background %>');background-size: cover;">
  <div class="result">
    <%= @result %>
  </div>
</body>
</html>