body {
  font-family: helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  box-shadow: 3px 3px 3px rgba(1,1,1,0.5);
  background: aqua;
  color: white;
  height: 100px;
  padding: 10px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2pt;
}

